.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar .logo {
    height: 10vh;
}

.navbar-divider {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin-top: 8px;
    margin-bottom: 10px;
}

.navbar-divider {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.navbar-aboutus {
    display: flex;
    list-style: none;
    gap: 20px;
    color: black;
    font-size: 19px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar button {
    background: transparent;
    border-radius: 50px;
    padding: 10px 30px;
    border: 1px solid rgb(23, 18, 43);
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: #ece1e1;
}

.navbar .active {
    border-bottom: 2px solid #49557e;
    padding-bottom: 2px;
}

.navbar li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: orange;
    border-radius: 50%;
    top: -5px;
    right: -5px;
      border: 1px solid white;
    box-shadow: 0 0 5px orange;
}
@media (max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-aboutus {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-aboutus {
        gap: 150px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width:750px) {

    .navbar-aboutus {
        display: none;
    }

}